[2018-02-14 15:17] TomasTomecek opened #1 "add requirements.txt"
so users know what they need to install beforehand

[2018-02-14 15:19] TomasTomecek opened #2 "why not argparse?"
Why implementing argument parsing on your own when you can easily use `argparse`.

[2018-02-14 15:21] TomasTomecek opened #3 "it's better to use logging"
once again, you don't need to implement the logic yourself, [something like this](https://github.com/fedora-modularity/conu/blob/master/conu/apidefs/backend.py#L46)

[2018-02-14 15:26] TomasTomecek opened #4 "better code structure"
please have a

 * main method
 * `if __name__ == '__main__'` block, the best practise here is:

[code]
 * all logic which is now in global scope, be part of a function(s)

[2018-02-21 13:49] kosciCZ commented on #1
Fixed by https://github.com/kosciCZ/release-bot/commit/681e21641329fe2fdf5450d07aa6a80de380c5a3

[2018-02-21 13:49] #1 closed

[2018-02-21 13:50] kosciCZ commented on #4
Closing after discussing referenced commit and agreeing changes are valid

[2018-02-21 13:50] #4 closed

[2018-02-27 08:35] kosciCZ opened #6 "Overwriting spec file from fedora"
As of now, the bot would overwrite .spec file from fedora repository, [which is prohibited by the guidelines](https://fedoraproject.org/wiki/Packaging:Guidelines#Spec_Maintenance_and_Canonicity).
Solution to this is following:
- Introduce a release configuration file (probably a .yaml) to the destination repository
  - this file would contain a spec changelog and new version number
- Bot would loa

[2018-02-27 15:26] #6 closed

[2018-03-06 11:25] kosciCZ opened #10 "Openshift template"
Add an Openshift template for containerized deployment.

[2018-03-06 11:29] kosciCZ opened #11 "Bodhi updates submission"
Add this feature

[2018-03-06 12:24] kosciCZ opened #12 "Enable different versioning"
Enable user defined names and version formats

Update: consider implementing a new way of triggering a release:
* keyword "new major release" -- the bot would bump x
* keyword "new minor release" -- the bot would bump y
* keyword "new patch release" -- the bot would bump z

This is equivalent to the [Semantic versioning](https://semver.org/) specification.
Example: latest version is 1.4.2 (x=1, y=

[2018-03-06 14:59] #2 closed

[2018-03-06 15:03] kosciCZ opened #13 "Self-testing"
Make bot release itself to PyPi to showcase it's usage and also to self-validate releases

[2018-03-07 07:48] #3 closed

[2018-03-12 11:27] #10 closed

[2018-03-12 11:37] kosciCZ commented on #11
Postponed due to waiting for fedora keytab ([ticket](https://pagure.io/fedora-infrastructure/issue/6763))

[2018-03-12 13:34] kosciCZ commented on #13
Release 0.1.1 was done by this bot.

[2018-03-12 13:34] #13 closed

[2018-03-12 13:41] kosciCZ opened #17 "Write unit tests"
Write some unit test to achieve better software quality

[2018-03-20 11:20] #17 closed

[2018-03-21 08:22] kosciCZ opened #20 "Add post-release script"
There could be a use case, when user might want to do something right after release, like trigger a docker hub build, or send an email to somewhere.

TBD:
- which from should the script be. Python? Bash?

[2018-03-21 08:23] kosciCZ opened #21 "Add --version cmdline option"
SSIA

[2018-03-21 08:56] kosciCZ opened #22 "Let user specify what python version they want to build"

[2018-03-21 12:56] #21 closed

[2018-03-27 10:38] kosciCZ commented on #22
Fixed by b78b19800e878c5e30cdebfc9107ee536a793224

[2018-03-27 10:38] #22 closed

[2018-03-27 13:08] kosciCZ opened #23 "Write unit tests for Fedora & PyPi"
These tests will be a little more complex than tests that already exist. Granularization of functions will be needed in order to properly mock them as we don't want to mess with production instances

[2018-03-28 13:01] kosciCZ opened #24 "Keytab support"
related to #11

[2018-03-29 13:20] TomasTomecek opened #27 "Review"
* readme
  * You mention some examples -- I would create a clickable link to them directly (or maybe even show them)
  * The other thing to improve could be to do a simple guide with real examples what users need to do in order to use the bot.
  * Overall the readme is well written, detailed and nicely formatted. For me personally, it's too thick, I prefer readmes which don't have "wall of text".

[2018-03-29 13:40] kosciCZ commented on #27
I very much appreciate the review, thank you. Quick response on some of the points, before we get a chance to talk:

I agree with this, although I think I'm pushing limits of what readme should be, so maybe creating a github wiki might be a good idea.

This is a very valid observation and as I started to rewrite some of the functions in order to be able to test & mock them, I realized that class s

[2018-04-03 14:28] #23 closed

[2018-04-04 11:45] #24 closed

[2018-04-04 12:55] kosciCZ opened #30 "Object-oriented rewrite"
Recent changes in bot's code hint towards object oriented implementation. As of now, it is rather messy and class structure would be better to read & maintain.

This issue is from code review issue #27.

[2018-04-04 12:56] kosciCZ opened #31 "Simplify main()"
Main as of now is rather unreadable and would benefit from separation into more functions.

This issue is from code review issue #27.

[2018-04-04 12:59] kosciCZ opened #32 "Fix shell_command() security hole"
Function `shell_command()` uses` subprocess.run()` with `shell=True` which is vulnerable to malicious code execution.

This issue is from code review issue #27.

[2018-04-04 13:01] kosciCZ opened #33 "Write guide for new users"
The best example is bot itself as it releases itself to PyPi. Write a detailed guide on how to get the bot running and provide real configuration examples from this repository.

This issue is from code review issue #27.

Update: this is a very good candidate for Google Summer of {Docs,Code} or Red Hat Open Source Contest.

[2018-04-04 13:02] kosciCZ commented on #27
Closing, new issues were opened covering this review

[2018-04-04 13:02] #27 closed

[2018-04-04 13:49] #32 closed

[2018-04-04 13:50] kosciCZ commented on #11
This is open to implementation now as nothing is blocking it, although it's more of a nice-to-have feature

[2018-04-20 07:51] #30 closed

[2018-04-20 07:51] #31 closed

[2018-04-22 13:54] jpopelka commented on #11
Been looking into this and seen two problems with `fedpkg update`:
- it [opens vi](https://pagure.io/fedpkg/blob/master/f/fedpkg/cli.py#_322) to interactively edit update parameters
  - work-around could be in setting `EDITOR` env. var. to a script which would just `sed s/type=/type=bugfix/ argv[1]` (`type` is the only required unfilled field in the template text)
- fedpkg calls bodhi-client to do

[2018-04-23 09:07] TomasTomecek commented on #11
@bowlofeggs, hi Randy, would you be able to help us here? Does bodhi have an API for creating updates? Is there a kerberos support in-place?

[2018-04-23 14:30] bowlofeggs commented on #11
Hi @TomasTomecek!

Bodhi does have a REST API that allows creating updates:

https://bodhi.fedoraproject.org/docs/server_api/updates.html#service-2-POST

Most Fedora infrastructure apps do not use Kerberos (and there are not plans for them to either - I believe only Koji and the package lookaside cache use Kerberos). Bodhi currently uses OpenID for authentication, but there are [plans for it to us

[2018-04-24 07:35] TomasTomecek commented on #11
@bowlofeggs thanks, that's so helpful!

I wonder whether it's possible to use kerberos, get authenticated via ypsilon/FAS and use those credentials for OpenID. On the other hand, even writing it down looks like too much hassle. I just wanted to avoid storing password in plaintext.

[2018-04-24 14:12] bowlofeggs commented on #11
I think that's what OpenID Connect will help with (among other things) - I believe you will get a token you can hand to Bodhi instead of a password. Unfortunately, bodhi is still OpenID for now...

[2018-05-02 12:58] TomasTomecek opened #45 "iterate over PRs in desc order"
It may happen you merge an incorrect PR with malformed release. This would crash bot forever and made him stuck on that PR forever (unless you rename it).

How about if bot iterated over PRs from newest to oldest:
1. Get pull requests
2. Start from the newest
3. Does this PR have a good name? (x.y.z release)
  * If yes, process it and end
  * If not, continue with another PR

Does this make sense?

[2018-05-02 13:00] TomasTomecek opened #46 "fedora keytab path is hardcoded in s2i script"
https://github.com/user-cont/release-bot/blob/master/.s2i/bin/run#L3

This should probably be a placed inside repository configuration.

[2018-05-02 13:05] TomasTomecek opened #47 "report release status on the PR"
release bot should ideally post status on the PR whether the release was successful or not

logs should not be present since they may contain sensitive information

[2018-05-02 14:22] TomasTomecek opened #48 "`fedpkg clone` doesn't work in anyuid openshift environment"
Since containers in openshift can have a random uid, fedpkg is not able to get a username b/c there is no such entry in /etc/passwd:
[code]

[2018-05-02 17:03] jpopelka commented on #48
I see.
If pyrpkg was using [getpass.getuser()](https://docs.python.org/3/library/getpass.html#getpass.getuser) instead of directly [pwd.getpwuid(os.getuid())[0]](https://pagure.io/rpkg/blob/master/f/pyrpkg/cli.py#_1804) we could avoid this by setting an env. variable (LOGNAME, USER, LNAME and USERNAME)

[2018-05-04 10:09] jpopelka commented on #48
Hmm, even with patched rpkg, the underlying git clone fails due to the same problem (no user for uid):

[code]

[2018-05-04 11:15] TomasTomecek commented on #48
fudge, I fear we need something like this:

https://github.com/sclorg/postgresql-container/blob/4a7ce3eef2b322882c4a14b863aa81fc0cd4dab9/src/root/usr/share/container-scripts/postgresql/common.sh#L145

Or fix git.

[2018-05-10 16:17] jpopelka commented on #48
Thanks, that helps, but still no luck (I have valid krb ticket)

[code]

[2018-05-14 09:03] jpopelka commented on #48
Uh, now I'm getting `Could not create directory '/.ssh'.` while having no idea what I'm doing differently than in previous comment.

[2018-05-15 07:09] TomasTomecek commented on #48
could it be that it's trying to create a dir in `$HOME/.ssh` and `HOME=`; setting home to `HOME=/tmp` could help

[2018-05-15 07:14] #45 closed

[2018-05-15 12:52] jpopelka commented on #48
`$HOME` is set to `/opt/app-root/src` in [Dockerfile](https://github.com/user-cont/release-bot/blob/master/Dockerfile#L6) and I don't see the '.ssh' problem now (I must have misconfigured something when writing my previous comment), just the
https://github.com/user-cont/release-bot/issues/48#issuecomment-388104020

[2018-05-17 07:38] #48 closed

[2018-05-18 15:16] #47 closed

[2018-05-29 11:50] jpopelka opened #65 "Add Integration / End-to-End tests"
We probably won't be able to test Fedora releasing (I guess you can't have "a testing" package in Fedora), but we should be able to verify that releasing to github & PyPI (https://test.pypi.org/) works correctly.

[2018-05-29 12:05] TomasTomecek commented on #65
There could be a staging instance of Fedora services (dist-git and bodhi) to verify against.

[2018-06-05 12:26] jpopelka commented on #46
When building final image from s2i image, we [copy all files from private configuration repository](https://github.com/user-cont/release-bot/blob/master/.s2i/bin/assemble#L5) (i.e. conf.yaml, .pypirc and fedora.keytab) to $HOME and [run script points release-bot to it](https://github.com/user-cont/release-bot/blob/master/.s2i/bin/run#L20).

@TomasTomecek  are you suggesting that it should be confi

[2018-06-05 13:37] TomasTomecek commented on #46
My point is: if someone wants to use release bot just for PyPI, fedora.keytab is still needed. My expectation would be to write down path to the keytab in release-bot's config file and let the assemble script all the files. So the configuration to the keytab would be obtained from the config file, not via CLI.

No need to work on this, this should be just a low-prio RFE.

[2018-06-05 15:43] jpopelka commented on #46
Well, it's not actually.
If the `release-conf.yaml` in the to-be-released project repo says `fedora: false` the `fedora.keytab` is not accessed.

That's possible, but it's additional step for the user - to put some path into the config file.
And I might still be missing something, but I still don't see a benefit.

For now I think the easiest would be to change the `run` script so that it passes th

[2018-06-06 07:17] #46 closed

[2018-06-12 10:13] jpopelka opened #72 "Don't pollute PR with comments if something gets wrong"
It might happen that due to a bug or technical issue release-bot would be adding many comments to a PR. For example [here](https://github.com/user-cont/release-bot/pull/68#issuecomment-396304676) 2 same comments were added due to some Github outage (or some technical issue).
It'd be nice to have some mechanism to prevent this, like:
- don't add new comment if previous one is exactly the same
- don

[2018-06-13 09:40] TomasTomecek commented on #72
Maybe something like:
[code]

[2018-07-10 12:44] fridex commented on #20
JFYI, in [thoth-station](https://github.com/thoth-station/package-releases-job/) we are monitoring new releases on PyPI. If you would like to have some triggers, we already support OpenShift generic webhooks.

[2018-07-10 12:53] fridex commented on #72
Might be helpful for you hopefully: In [Kebechet](https://github.com/thoth-station/kebechet) we incorporate git commit hash of the current master for which the issue is relevant. Before submitting a new comment, we just check that the master changed - assuming users are trying to fix hot issues and we also notify users with this that the issue is still relevant for changes being made to master. Fo

[2018-07-10 13:00] fridex opened #74 "RFE: bot making changes in the source code"
I like the release-bot - actually we had plans to create something similar. Really nice work :+1: However we wanted the bot to be closer to the source code and let it change source code - that is, based on an issue "1.0.0 release" from package maintainer open a pull request with changed `__version__` to 1.0.0 (that also affects version in `setup.py`) and generated changelog from git log.

Are ther

[2018-07-10 13:06] fridex opened #75 "RFE: Run bot as a cronjob in OpenShift"
Are there any reasons why the bot is sleeping on CPU? Our similar bots run as a cronjob so they do not waste CPU resources. To reduce overhead needed for the pod spinning up for a single repo, the bot could accept a list of repositories in the `conf.yaml` to be checked and issue new releases for.

[2018-07-10 13:09] fridex commented on #75
Or probably even better solution - trigger the bot based on git hooks.

[2018-07-12 15:09] TomasTomecek commented on #75
These are really good suggestions.

[2018-07-12 15:10] TomasTomecek commented on #74
I believe this could be solved by https://github.com/user-cont/release-bot/issues/20

Basically write a script which changes source code and let the bot run it.

[2018-07-23 12:04] kosciCZ commented on #74
This is a nice feature to add as the workflow suits our idea of robot colleagues. Shouldn't be too much work, I already started working on it on the side.

[2018-07-23 12:10] fridex commented on #74
That's cool! If you want, you can take a look at our Kebechet bot and add
it as a plugin (manager). It can communicate with git, github and gitlab
already. I can provide you more info if needed.

On Mon, Jul 23, 2018, 14:05 Jan Koscielniak <notifications@github.com>
wrote:

[2018-07-30 11:34] TomasTomecek commented on #74
@kosciCZ @jpopelka guys would you have time to work on this?

Do we want to sync and talk about this so we can move it further?

[2018-07-30 11:36] kosciCZ commented on #74
@TomasTomecek I'm almost done with this, PR should be up for review this week (fingers crossed for tuesday)

[2018-07-30 11:45] fridex commented on #74
We already have this bot implemented [1] - that's why @goern asked for customers.

By opening an issue like this [1], the bot adjusts sources like this [2] and CI (Zuul) does the release. The commit with release is subsequently tagged and the version bump issue closed [3].

[1] https://github.com/thoth-station/common/issues/48
[2] https://github.com/thoth-station/common/pull/49
[3] https://github.

[2018-07-30 11:46] fridex commented on #74
BTW, there is a PR waiting for a review that automatically generates changelog (for PR with version change as well as to CHANGELOG.md).

[2018-07-31 09:37] TomasTomecek commented on #74
The problem with generating changelog from `git log` is that the output is not user friendly and it should be post-processed by a human. Is that expected workflow?

I just checked the changes you coded Frido and they made the part, with PyPI releasing in this bot, useless.

[2018-07-31 20:14] fridex commented on #74
It's initial implementation - it can be post-processed by a human in the PR or we could try to make it generated using machine learning.

The use case for you is slightly different I guess. You are releasing with the bot, we are releasing with CI.  I thought we could combine efforts in this case and make the code shared/reusable on both sides.

[2018-08-03 07:18] TomasTomecek opened #77 "Don't try to release old releases"
Seems like the bot is trying to release old releases.

https://github.com/user-cont/colin/pull/138#issuecomment-409615690

[2018-08-03 08:12] jpopelka commented on #77
Yes, the way it works is that we take a look at the latest merged PR and try to release the version on github and github is [supposed to](https://github.com/user-cont/release-bot/blob/master/release_bot/github.py#L156) tell us that such release already exists. However from time to time it does not for unknown reasons.

This is duplicate of #72

[2018-08-10 12:59] #74 closed

[2018-08-13 08:42] kosciCZ commented on #65
I'm looking into testing the releasing on Github. From what I gathered, I think the correct way to approach this is following:

1) Have usercont-release-bot create a new github repository with randomly generated name (having one testing repository could cause issues if more than one test would run at the same time - for example: a PR is made right after another one was opened, or someone runs test

[2018-08-16 08:06] TomasTomecek commented on #77
I don't think this is a dupe, they are different -- the other one is about comments, a consequence, while this one is the reason.

Would it help to check for the release first?

[2018-08-16 08:08] TomasTomecek commented on #65
wouldn't it be easier to mock all the remote APIs?

[2018-08-22 10:29] kosciCZ commented on #65
I considered this and I think it would be harder to do, i.e.  github v4 api uses GraphQL where for example iterating through PRs/ issues isn't trivial. And if I mocked the entire function to simplify that, I wouldn't really test it.

What I described above isn't that hard to do, it's just few more api calls, so that is why I decided to go with it.

[2018-08-24 14:52] jpopelka commented on #11
Just spotted https://pagure.io/fedobuild/

" It listens on the fedmsg bus for dist-git pushes and automatically initiates koji builds and bodhi updates."

[2018-08-28 07:45] kosciCZ commented on #65
Closing this, as it was fixed by #78

[2018-08-28 07:45] #65 closed

[2018-09-04 11:13] jpopelka opened #79 "0.4.0 release"
I've updated the self-releasing release-bot (release-bot-user-cont) on Openshift, so let's test the new feature (#76)

[2018-09-04 12:40] jpopelka commented on #79
re-building, re-deploying, stay tuned

[2018-09-04 12:41] kosciCZ commented on #79
This is just like watching Superbowl!

[2018-09-04 12:46] #79 closed

[2018-09-04 12:47] jpopelka commented on #79
Whut ??? How/when he did that when he failed to re-deploy ???

[2018-09-13 08:25] kosciCZ opened #82 "Who should be able to trigger the bot by issue?"
This was surfaced when @rpitonak tried to release conu through an issue, not being in the user-cont organization, but still being an invited collaborator. Right now bot allows people with ADMIN or MEMBER [association](https://developer.github.com/v4/enum/commentauthorassociation/) ([see relevant code here](https://github.com/user-cont/release-bot/blob/master/release_bot/releasebot.py#L80)) to trig

[2018-09-13 09:22] kosciCZ opened #83 "Version confusion"
As seen [here](https://github.com/user-cont/conu/pull/279) bot correctly updates the `__version__` variable, but in the message in PR says it didn't because there were multiple files with the variable being set.

In addition to this, CHANGELOG.md was somehow caught up in this.

[2018-09-13 11:00] jpopelka opened #84 "failed to release conu 0.5.0 on Fedora"
[code]

[2018-09-13 13:13] jpopelka commented on #84
Whoops, there seems to be no .gitconfig ?

Oukej, now I remember. [Last time when releasing colin 0.1.0](https://github.com/user-cont/colin/pull/138#issuecomment-393234895) I was running release-bot locally (step-by-step in IDE) so it took my local `.gitconfig` and I didn't hit this.

[2018-09-13 13:51] jpopelka commented on #84
I guess we need to do the following somewhere (in Dockerfile ?)
[code]

[2018-09-13 20:52] kosciCZ commented on #84
Or we could do what we do for cases when we need to make a PR request ([see code here](https://github.com/user-cont/release-bot/blob/master/release_bot/github.py#L322)). Basically, it gets name & email (or default values are used) and adds them to local .gitconfig for the particular repository.

[2018-09-14 07:46] rpitonak opened #85 "label on release issues and PRs"
It would be nice, if release bot would put `release-bot` label on release issue and PR.

[2018-09-14 10:06] #83 closed

[2018-09-14 10:06] #84 closed

[2018-09-14 10:15] kosciCZ opened #87 "0.4.1 release"

[2018-09-14 10:15] #87 closed

[2018-09-17 08:09] TomasTomecek commented on #82
yes, collaborator, member and admin should be good enough; or: make it configurable, or utilize some sort of voting system;

but still, if someone with those privs creates an issue, the bot should create the new release PR (anyone can do that, really) and this should be approved by a commiter

[2018-09-17 08:10] TomasTomecek commented on #85
What would be the semantics? Just that it interacted with the issues/PR?

[2018-09-17 08:10] TomasTomecek commented on #85
[why are those buttons so close to each other -_-]

[2018-09-17 08:50] rpitonak commented on #85
Yes, basically when you open an issue `x.y.z release`, bot will put label `release-bot` on it. Same with PR. It will keep issue and PR list more organized, because we already use labels from another bots, for example in conu.

[2018-09-19 13:16] jpopelka opened #89 "[Fedora] Wrong user & email in spec changelog"
This is probably a deployment issue, not a bug, but:

[code]

If you check the changelog in [the build](https://koji.fedoraproject.org/koji/buildinfo?buildID=1145853) you'll see
[code]
Not sure where's the spectool takes the author&email from, but it should be `usercont`, not me.

[2018-09-19 14:25] TomasTomecek opened #90 "rename shell_command function to run_command"
Sorry, but when I see a function named `shell_command` I'm going crazy. The truth is that the function sets `shell=False` so it's not even a shell command, it's plain `exec`. Let's give it a proper name.

[2018-09-19 14:37] TomasTomecek commented on #89
I think this is correct. AFAIK the logic is that author of the release is the person who created the 'new release issue'.

So the question is: should we put release bot name in there?

[2018-09-19 14:44] TomasTomecek opened #91 "next-gen changelog generation"
I propose release bot generates change log like this:

* It lists all PRs which landed to a release.
* It generates the list in following syntax:
[code]
* This is put into changelog.md for maintainer's review.

[2018-09-19 17:17] lachmanfrantisek commented on #89
The issue was created by me... But the PR was merged by @jpopelka

[2018-09-20 06:14] TomasTomecek commented on #89
Ah, okay :D

Looking at the code, here's the method to get user credentials:
https://github.com/user-cont/release-bot/blob/1975538b6b420c83be6b7b7f68c92fafd28fde44/release_bot/github.py#L365
https://github.com/user-cont/release-bot/blob/master/release_bot/releasebot.py#L237

So is this really a misconfiguration? Or should we commit as the bot?

I actually vote for bot, since this dude is doing the

[2018-09-20 06:16] TomasTomecek opened #92 "Add a way to open pull requests in Fedora dist-git"
So Ideally the bot would not directly commit to fedora dist-git, instead it would propose a change via a pagure PR, then tests in Fedora would run, make sure the bot works and once all is green, we would manually merge, then the bot would create bodhi updates.

WDYT?

[2018-09-20 10:58] kosciCZ commented on #89
The code responsible for this is here:

https://github.com/user-cont/release-bot/blob/ba3d9c16cf750891e4f6cec6e63c300a92b32536/release_bot/utils.py#L61

Where `author_name` is of the person who merged the release commit, because they're actually the one who should be responsible for the update, even if they're doing it through the bot, hence the entry in the changelog. Or such was the idea when th

[2018-09-20 13:57] jpopelka commented on #89
OK, thanks for explanation, I didn't realize the bot is the git commiter.
Then I'm fine with as it is now.

[2018-09-20 13:57] #89 closed

[2018-09-21 10:11] #82 closed

[2018-09-24 11:55] kosciCZ opened #95 "Different release naming"
So we've encoutered an issue when some projects don't name their releases by just version number, but with a  ['v' prefix](https://github.com/openshift/source-to-image/releases) or [something else](https://github.com/fedora-modularity/meta-test-family/releases). I don't think there's a need to support them all, but we need to takes this into account, because the bot just fails when it tries to get

[2018-09-24 12:12] phracek opened #96 "Provide a support for COPR"
It would be nice to provide a support into release-bot building packages via COPR.

I think it would be an option in conf.yaml file like `copr: true`.
For more information be in contact with @xsuchy.

[2018-09-27 12:38] phracek opened #97 "RFE: Update setup.py with higher number if version does not exist"
I would prefer to implement a new mechanishm if version.py file does not exist.

I would prefer to update setup.py file into higher version.

Does it make sense to you?

[2018-09-27 12:52] kosciCZ commented on #97
We did consider this, but according to PEP 396, version should be derived from `__version__` variable, so implementing changing directly the version entry in `setup.py` is kind of going against best practices from my point of view. See my [comment](https://github.com/user-cont/release-bot/pull/76#discussion_r208476104) on relevant PR for details.

What does @jpopelka think?

[2018-10-04 15:30] #90 closed

[2018-10-08 12:27] kosciCZ commented on #85
This was fixed by #94, so I think it's okay to close this issue.

[2018-10-08 12:27] #85 closed

[2018-10-16 08:57] TomasTomecek commented on #96
Could you please provide more information on how you expect this to work?

Also, `copr: true` is not enough: the bot would need to know in which copr it should build, what targets, would also need credentials, etc.

Since github supports webhooks and copr has an API, this could be the way to go, that's why I would love to know your use case more.

[2018-10-16 08:59] TomasTomecek commented on #97
I agree with Honza. There are definitely more ways how this could be done right (usage of `__version__`, e.g. have it in `__init__.py` directly).

[2018-10-16 20:37] xsuchy commented on #96
Note that Copr can work with webhooks as well.
https://docs.pagure.org/copr.copr/user_documentation.html#github-webhooks

[2018-10-18 07:52] #77 closed

[2018-10-18 09:24] rpitonak opened #101 "0.5.0 release"

[2018-10-18 09:28] #101 closed

[2018-10-18 10:49] jpopelka opened #104 "Environment variables from .travis.yml are not set in PR from a fork"
Compare [this](https://travis-ci.org/user-cont/release-bot/builds/443115552) and [this](https://travis-ci.org/user-cont/release-bot/builds/443095739).

In the second you can see
[code]

while in the first case the variables are not set and some important tests are skipped.

The first case is #103 (PR from my fork), while the second is #102 (PR from upstream branch).

[2018-10-18 11:57] jpopelka commented on #104
From [Encryption keys](https://docs.travis-ci.com/user/encryption-keys/):
"Please note that encrypted environment variables are not available for [pull requests from forks](https://docs.travis-ci.com/user/pull-requests#Pull-Requests-and-Security-Restrictions)."

[2018-10-18 12:01] TomasTomecek commented on #104
time to use centos ci?

[2018-10-18 12:02] jpopelka commented on #104
Closing, since there's no way to fix this.

Yeah, cico time.

[2018-10-18 12:02] #104 closed

[2018-10-18 12:43] jpopelka opened #105 "Move CI from Travis to Centos CI"
See #104

[2018-10-29 12:27] rpitonak opened #106 "Update of spec file in upstream repository."
When using release bot for Fedora releases, we should update the spec file not just in dist-git, but also in the upstream GitHub repository.

[2018-10-31 09:05] TomasTomecek commented on #106
Well, ideally the bot would open a PR and proposed downstream changes upstream.

[2018-11-04 13:05] TomasTomecek commented on #33
Is this still needed? Can we just link to @phracek's blog post on opensource.com?

[2018-11-04 13:06] TomasTomecek commented on #72
Actually github learned to group similar comments. I think we can close this.

[2018-11-04 13:09] TomasTomecek opened #107 "Document deployment of release bot without s2i"
I don't want to create a dedicated git repo to store my configuration.

I might document this since I'll be deploying release bot w/o s2i. (no offence to s2i, I just feel like it's overkill to me)

Related #33

[2018-11-05 08:06] jpopelka commented on #72
ah, nice

+1

[2018-11-05 08:06] #72 closed

[2018-11-05 12:50] TomasTomecek opened #108 "short term bodhi updates solution: inform"
Since release-bot is not able to submit bodhi updates, it should at least inform in a comment that people should do that.

AC
 * [ ] release-bot to write a comment in a release PR that people should create bodhi updates, once the builds are done
 * [ ] the comment should include a link to bodhi, ideally to the exact package

[2018-11-06 09:26] TomasTomecek opened #110 "accept python versioning"
I am using python versioning scheme in my python project (you don't say). Unfortunately release bot fails to parse it:

[code]

Related #12 and all other versioning issues

[2018-11-09 10:17] TomasTomecek commented on #33
Okay, we need this really badly. I am having such hard times configuring the bot. E.g. pypirc is such a pain.

[2018-11-09 17:17] TomasTomecek opened #111 "[RFE] multibot"
So, right now we have one bot per Github project. That's actually terribly inefficient. We should teach release bot to handle multiple Github repos: how a loop and poll for multiple projects, not just a single one.

[2018-11-09 17:28] TomasTomecek opened #112 "listen on github events instead of polling"
Release bot polls the tracked github project every 10 minutes in current implementation. It would be much more efficient if it was able to receive Github's callbacks. Alternatively, it can listen on fedmsg (but that requires for the tracked projects to be included in github2fedmsg).

Work to be done:
 * Discuss the best solution with the upstream maintainers (that's us)
 * Implement it - release b

[2018-11-14 16:11] TomasTomecek opened #114 "release-bot should link to koji build if it fails"
I didn't submit an issue here today so here we go:

A build in koji failed and I didn't know why: I had to dig it myself. It would be nice if the bot:
* provided brief logs in the comment
* provided link to the build(s)

[2018-11-16 09:40] TomasTomecek opened #115 "More chatty release bot"
Since we closed the dedup issue, let's start a new one.

When something goes wrong, release-bot usually doesn't provide any details and we need to inspect its logs. It would be much better for the bot to be more social and rather speak about what went wrong. The biggest problem here, as pointed out by @jpopelka, is for the bot is not to produce duplicate messages.

Origin: https://github.com/user-

[2018-12-12 11:35] TomasTomecek commented on #11
We should freeze this and go in favor of https://github.com/user-cont/source-git/issues/26

Or fedobuild, as Jirka pointed out.

[2018-12-13 10:03] TomasTomecek opened #117 "make release-bot compatible with setuptools-scm plugin"

[2018-12-13 10:03] TomasTomecek commented on #12
Related #117

[2018-12-13 10:08] TomasTomecek commented on #20
We don't consider this issue to be a prio.

[2018-12-13 10:11] TomasTomecek commented on #75
Our plan with release-bot is to utilize Github webhooks so I'm closing this in favor of https://github.com/user-cont/release-bot/issues/112

[2018-12-13 10:11] #75 closed

[2018-12-13 10:16] #92 closed

[2018-12-13 10:22] #96 closed

[2018-12-13 10:22] #97 closed

[2018-12-13 10:29] #106 closed, assigned to nobody

[2018-12-13 10:31] #111 closed

[2018-12-14 11:12] lachmanfrantisek commented on #91
What about using [gitchangelog](https://github.com/vaab/gitchangelog)?

by default it needs the commit prefixes to distinguish fix/new/change, but we can set custom regex for this (e.g. `[fix]`/`[chg]`/.. in the commit message).

The markdown output looks good to me. (if `output_engine = mustache("markdown")`)

[2018-12-14 12:11] TomasTomecek commented on #91
looks good, definitely worth of trying out: we don't need to implement this ourselves

[2019-01-14 09:09] TomasTomecek opened #119 "Release bot for everyone: let one deployment track multiple projects"
This is closely related to #112

Since one deployment of release bot is able to track only a single github project now, let's remove this limitation and figure out how the bot can track multiple projects without hardcoding the list in the configuration.

It should be fairly straightforward if release bot was deployed as a github app and listen on github callbacks. Because then every event accepted

[2019-01-16 14:31] #117 closed

[2019-01-17 08:31] lachmanfrantisek opened #121 "Name for release-bot"
What about a following name or name for the github-app?

**OGAR** - Our Git(hub) Automatic Releases

(or something like that)

That was just an idea. Feel free to close it.

---

There is no **ogar** on PyPI: https://pypi.org/project/ogar/

[2019-01-17 08:51] TomasTomecek opened #122 "testing 2.0"
We have a pretty good testing infrastructure right now:

* We have unit tests
* We have integration tests.
* They cover the complete functionality (PyPI, Fedora, Github, PR creation).
* They are running in CI so we are pretty sure when something is broken.

Kudos to @kosciCZ!

But, I think we can do even better.

TODO (long-term)

* [ ] Have unit tests for the complete functionality (mock remote A

[2019-01-17 11:59] TomasTomecek commented on #121
I personally don't have associated positive emotions with word ogar, so I'm personally -1.

[2019-01-20 08:59] jpopelka opened #125 "make_new_github_release(): TypeError: expected string or bytes-like object"
`oc logs dc/release-bot-user-cont`

[code]

[2019-01-20 09:14] jpopelka commented on #125
[This](https://github.com/user-cont/release-bot/commit/4c0b18dd1532b79d7459df57d03903b6a1b25d95#diff-a2053831ac76bc378a135c94c55b5125L225) is the cause @TomasTomecek

[2019-01-20 15:06] TomasTomecek commented on #125
and I thought I caught all of them

[2019-01-21 11:17] #125 closed

[2019-01-21 12:07] jpopelka opened #129 "Handle setup.py with 'version', but no '__version__' ?"
When we create a release PR from a release issue, we [bump](https://github.com/user-cont/release-bot/blob/master/release_bot/utils.py#L169) any `__version__` we find in `{'setup.py', '__init__.py', 'version.py'}`.

The thing is that many projects use just `version='x.y.z'` in `setup.py`. As @kosciCZ [pointed out](https://github.com/user-cont/release-bot/pull/76#discussion_r208476104), per PEP one

[2019-01-23 11:58] lachmanfrantisek opened #130 "Missing changelog on Github release"
There is no changelog on GitHub releases.

e.g.: https://github.com/user-cont/conu/releases

[2019-01-23 12:56] TomasTomecek commented on #130
Yes, latest stable release has this issue. The problem was, that if release bot failed while doing a release it would never upload the changelog. And while doing a rerun, the changelog is not updated.

I think I fixed it with:

https://github.com/user-cont/release-bot/commit/4c0b18dd1532b79d7459df57d03903b6a1b25d95#diff-a2053831ac76bc378a135c94c55b5125R333

[2019-01-23 20:37] lachmanfrantisek commented on #130
@TomasTomecek so we can change this to `update-changelog-on-rerun`?

Otherwise, we can close this.

[2019-01-24 08:34] TomasTomecek opened #131 "bodhi: also show command to run to create the updates"
Release bot can also print a command to run in terminal to create the update.

[2019-01-24 10:07] jpopelka commented on #130
We can try to do one (0.6.0 ?) at the DevConf workshop.

[2019-01-26 13:16] jpopelka commented on #121
I'm +1 to any name, which is easy to remember and not boring (negative emotions are emotions too) so :+1: to ogar

[2019-01-26 14:10] TomasTomecek opened #132 "enable configuring the pipeline run using PR/issue labels"
Right now the bot does the whole pipeline every time. There is a suggestion from @bowlofeggs and @pypingou to be able to do the whole run, but only some part. E.g. release only to rawhide.

This could be configured via a comment or a label.

[2019-01-26 14:13] TomasTomecek opened #133 "RPM Changelog: use bots' credentials, not the github approver"
This is ugly, the bot is doing the work, not me, I don't want the credit.

https://github.com/user-cont/release-bot/blob/2e79b44a9b508c2053d8be9910b2e747c0236104/release_bot/releasebot.py#L257

The bot obtains credentials of the person who approved the pull request for a new release. My expectation is that by default, bots credentials should be used in the changelog. By bots credentials I mean its

[2019-01-26 14:20] TomasTomecek opened #134 "configuration, fedora: master should not be implied"
It should be possible to release to epel only, e.g. so master (= rawhide) has to specified explicitly.

[2019-01-26 14:31] TomasTomecek opened #135 "enable configuring fedora package name"

[2019-01-28 13:12] TomasTomecek opened #136 "new e2e test which goes through at least two iterations"
Top-level logic is present in the `run()` method. We should have an e2e test which validates this logic.

[2019-02-05 12:46] jpopelka commented on #135
1. use package name from `release-conf.yaml` if specified, or
2. use package name from https://release-monitoring.org if it's there, or
3. use the upstream package name

[2019-02-05 14:19] TomasTomecek opened #138 "We will move all Fedora-related functionality into packit"
We are starting a new project called packit. Packit's functionality is targeted to be a superset of what release-bot can do right now in Fedora. We don't want to maintain the same functionality on two places. Hence building and releasing to Fedora is now deprecated in release-bot as we start moving the functionality into packit.

https://github.com/packit-service/packit
https://github.com/packit-s

[2019-02-11 08:28] jpopelka opened #141 "Use setuptools_scm instead of explicit versioning"
See also https://github.com/user-cont/release-bot/pull/140#pullrequestreview-201724268

[2019-02-14 15:21] jpopelka opened #145 "0.6.0 release"

[2019-02-14 15:24] #145 closed

[2019-02-18 09:15] TomasTomecek opened #148 "updates to creating release PR"
TODO
* [ ] don't create duplicate commits in case of failures (in packit/ogr, bot was not allowed to create a PR and kept adding new commits; we should `reset --hard upstream/master` before starting adding new commits)
* [ ] fork the repo and create the PR from fork
* [ ] remove branches once they are merged

[2019-02-18 09:19] TomasTomecek opened #149 "don't require write perms on the target repo"
Related #148

Two things:
* [ ] don't set or create labels if you don't have the permission
* [ ] create the PR from fork, not on the upstream repo
* [ ] anything else?

[2019-02-18 09:21] jpopelka opened #150 "A member of 'a team' can't create release issue"
For example in https://github.com/packit-service/ogr/issues/15 @lachmanfrantisek was ignored because
[code]
even he was in part of 'The packit team' whose members should be admins in the ogr project.

Once we added him as collaborator, the issue was processed.

[2019-02-18 09:24] lachmanfrantisek commented on #148
What about creating the `CHANGELOG.md` if the file does not exist?

[2019-02-18 09:25] lachmanfrantisek commented on #149
Closing the issue?

[2019-02-18 09:28] TomasTomecek commented on #150
github roles are very clear and easy to use... FML

[2019-02-18 09:28] jpopelka commented on #150
Ok, so I'm confused now since my https://github.com/user-cont/conu/issues/353 was processed even I'm not explicitly added as collaborator in https://github.com/user-cont/conu/settings/collaboration

[2019-02-18 09:30] TomasTomecek commented on #148
could you elaborate please?

[2019-02-18 09:33] TomasTomecek commented on #150
could it be just a race condition that github did not update the roles in their system in time and their API returned outdated info?

[2019-02-18 09:35] jpopelka commented on #150
I don't think so, the 'The packit team' was added some time ago and also Franta has been a member for some time.

[2019-02-18 09:38] lachmanfrantisek commented on #148
Is `CHANGELOG.md` already present?
- `NO` -> Create the file and add the changes for the current release.
- `YES` -> Add new changes on top of the file as usual.

[2019-02-18 18:37] TomasTomecek commented on #148
I added one more entry to the list, let me know if that's what you meant, because r-bot is already doing the YES branch afaik

[2019-02-18 18:38] TomasTomecek commented on #150
oki, we should investigate and resolve this then

[2019-02-20 16:19] marusinm opened #152 "Improve guide for new users"
Related to #107, #33.

As a participant of RH open source contest I tried to run release-bot locally and successfully automated releases on private Github repo. However, I had to face several problems:
- s2i isn't working without .pipyrc file, means a user cannot create just Github release and test release-bot easily.
- I had to look up for a way how to run release-bot from cli, it'll be better ha

[2019-02-21 08:11] TomasTomecek commented on #152
Hi! Thanks for reaching out!

I share your frustration and that's why I started #107 back then. Sadly we didn't have enough time to address it. Hence we signed it up to the contest.

If you're brave enough to send us PRs for the issues you raised here, that would be tremendously helpful.

[2019-02-21 08:18] marusinm commented on #152
Something like this issue could be nice for the first contribution, I will jump on it.

[2019-02-22 08:15] jpopelka opened #153 "TestPyPI support"
Would be nice if release-bot knew how to release to https://test.pypi.org instead of real http://pypi.org

I used to test release-bot on https://pypi.org/project/release-bot-test, but Test PyPI would be much better.

[2019-02-22 12:29] jpopelka opened #154 "[spike] investigate zest.releaser"
- https://pypi.org/project/zest.releaser
- https://github.com/zestsoftware/zest.releaser
- https://zestreleaser.readthedocs.io
- https://opensourcehacker.com/2012/08/14/high-quality-automated-package-releases-for-python-with-zest-releaser

[2019-02-22 18:26] TomasTomecek commented on #154
Interesting, but it doesn't seem to release to github; but we can definitely get inspired

[2019-02-25 10:38] jpopelka opened #155 "0.6.1 release"

[2019-02-25 10:40] #155 closed

[2019-02-25 12:41] jpopelka opened #159 "0.6.1 release"

[2019-02-25 12:42] #159 closed

[2019-02-28 12:02] TomasTomecek commented on #152
Given #161 is merged, I'm closing. Thanks for working on this!

[2019-02-28 12:02] #152 closed

[2019-02-28 12:02] TomasTomecek commented on #107
This is now fixed in #161

[2019-02-28 12:02] #107 closed

[2019-02-28 12:03] TomasTomecek commented on #33
#161 fixed this

[2019-02-28 12:03] #33 closed

[2019-03-03 08:26] Aniket-Pradhan opened #162 "release_bot stuck on releasing on PyPi."
Hello There.

I was getting my hands dirty on the bot. I want the bot to not release only on GitHub and not on PyPi. I don't have any `.pypirc` file in my directory (where I have the `conf.yaml`).

Because of this, the bot goes into a loop where it is unable to release on PyPi (since there is no .pypirc) and it ignores the latest issues on GitHub.

As an example, have a look at this [repository](h

[2019-03-03 09:53] TomasTomecek commented on #162
Hi there, thank you for taking your time trying the bot out and opening this issue.

I think you indeed found a bug!

The problem is that your instance fails here:

https://github.com/user-cont/release-bot/blob/master/release_bot/releasebot.py#L278

and is unable to get to this line:

https://github.com/user-cont/release-bot/blob/master/release_bot/releasebot.py#L282

where it should handle opened

[2019-03-03 10:49] Aniket-Pradhan commented on #162
Thanks for the help.

Yes. That solves the problem. However, it also gives birth (or unmasks) to another issue, where the bot is constantly looking for `.pypirc` and it keeps commenting on the **first** pull request it created.

As an example, in the same repository, the bot created a new [PR](https://github.com/Aniket-Pradhan/RandomEmptyRepo/pull/6) (release 1.0.1), but it kept commenting on the

[2019-03-03 15:28] TomasTomecek commented on #162
Huh, I thought we had such setting but apparently we don't. Yup, that's a good idea, the bot should not enforce PyPI release - it should be configurable.

[2019-03-03 16:06] shresthagrawal commented on #133
Hey Thomas, I wish to contribute to release bot for GSOC 2019. It would be really helpful if you can you please elaborate more about what you want in the issue and what do you exactly mean by term 'bot's credential' and 'github approver'.

[2019-03-03 16:08] shresthagrawal commented on #12
Hello,
What does x,y,z refers too in the above issue. can you provide a more elaborate example.

[2019-03-03 16:55] TomasTomecek commented on #12
I updated, I hope it's more clear now.

[2019-03-03 17:04] TomasTomecek commented on #133
I updated the original post, is it more clear now?

[2019-03-03 17:09] shresthagrawal commented on #133
Yaah it is clear now

[2019-03-03 17:10] shresthagrawal commented on #12
Yaah it is clear now. Thanks. I am working on this issue.

[2019-03-03 18:13] TomasTomecek commented on #12
I hang out on freenode as ttomecek, but am available only while at work (8:00 - 16:00 UTC)

[2019-03-04 07:20] Aniket-Pradhan commented on #162
Can I work on that bit?

I am also sending out a pull request which fixes the original issue I raised here.

[2019-03-04 07:37] TomasTomecek commented on #105
Is this done?

[2019-03-04 07:38] TomasTomecek commented on #130
This should be fixed now, please reopen if it's not.

[2019-03-04 07:38] #130 closed

[2019-03-04 07:41] TomasTomecek commented on #162
Yes, please! That would be lovely.

[2019-03-04 07:49] Asutosh989 commented on #129
I would like to work on it.

[2019-03-04 09:16] jpopelka commented on #129
The same applies to `setup.cfg` ([example](https://github.com/user-cont/ucho/blob/master/setup.cfg#L3))

[2019-03-04 11:03] Aniket-Pradhan commented on #162
Hey!

I have been thinking, that we just need to add a new parameter to the `release.conf` file if we want to release it on PyPi (just like it is done with the Fedora releases). The only change would be to check if that parameter is true or not. If true, then we proceed further and look for the `pypirc` file (if the file is present or not present, that's another story). Otherwise, we stop there an

[2019-03-04 14:15] shresthagrawal commented on #12
Hey, just a small question. Is their any function to get the current latest version of the release so thay I can perform the increment on it. Second if their are no release what should be the first release

[2019-03-04 14:57] TomasTomecek commented on #162
@Aniket-Pradhan you are absolutely correct!

[2019-03-04 15:03] TomasTomecek commented on #12
We discussed on IRC, my replies:
[code]

[2019-03-04 17:03] Aniket-Pradhan commented on #162
That's awesome!

I soon release a PR for this as well. ^>^

[2019-03-05 15:00] #162 closed

[2019-03-05 17:21] Pac23 commented on #153
@TomasTomecek I am taking this as part of my gsoc participation validation pr

[2019-03-05 17:59] TomasTomecek commented on #153
Oki, I'm unable to assign the issue to you in the Github interface :/

[2019-03-05 18:11] Pac23 commented on #153
Thats okay

[2019-03-06 00:17] marusinm commented on #112
I will implement callbacks processing from Github webhooks and deploy release bot on Openshift online. This webhooks handler should be configurable in a `conf.yaml` or replace `refresh_interval` if r-bot runs with public domain.

Later on, when Github app or single deployment for more projects mentioned in this issue will be implemented, the handler for GitHub events will be prepared.

[2019-03-06 06:19] shresthagrawal commented on #131
Are you talking about the update of the bot it self ? Do you mean that it should check for the update in Bodhi, and if available just recommend the command that the user should use to update in Terminal.

[2019-03-06 06:39] shresthagrawal commented on #91
@TomasTomecek I am working on it :+1:

[2019-03-06 06:51] shresthagrawal commented on #91
If the understood the proposal properly: Once a release is triggered, the Bot should get the list of PRs and add them in the above given format. But the current method does the same thing for commits just it doesn't add the PR title and details? So I just need to add the PR details ?? do I need to update the CHANGELOG.md file also ? Thanks

[2019-03-06 08:16] rpitonak commented on #91
@shresthagrawal yes, you need to add titles of all PRs created since the last release.

We don't push any code directly to the master branch, so you don't need to care about this scenario.

[2019-03-06 08:45] TomasTomecek commented on #112
Awesome, can't wait to have this one implemented.

I have a few suggestions:
* please think about the implementation and ideally share the design with us before starting hacking on it - a list of proposed new dependencies, new classes, how the code will be organized etc. the more details the better
* when you start hacking on this, it would be very nice if you implemented things step by step and N

[2019-03-06 11:36] TomasTomecek commented on #91
But on the other hand, some other users of release bot may do that. So for commits done without PRs, I would do the same thing as the bot does now.

@shresthagrawal did you also look into the gitchangelog project whether it would be useful here?

[2019-03-06 12:11] TomasTomecek commented on #131
The original idea was to also perform a bodhi update in Fedora once the Fedora koji builds are done. But it wasn't easy to authenticate with bodhi. Hence the workaround was to just print the bodhi command and the maintainers would run it themselves.

But since we are planning to move the fedora functionality #138 to packit, I'm going to close this issue.

[2019-03-06 12:11] #131 closed

[2019-03-06 14:00] shresthagrawal commented on #91
@TomasTomecek I think so [gitchangelog](https://github.com/vaab/gitchangelog) would be a perfect fit for the concept! Working on how we should integrate with the current code.

[2019-03-06 14:33] jpopelka commented on #153
https://packaging.python.org/guides/using-testpypi/

[2019-03-06 15:37] lachmanfrantisek commented on #91
I like the `gitchangelog` as well. We will probably need to:

1. tag new version
2. generatete changelog
3. remove tag (Or not push the tag.)

Some years ago, I've done a similar thing. And also working with gitchangelog from code was a pain.

[2019-03-06 15:41] shresthagrawal commented on #91
@lachmanfrantisek Sorry I didn't got the concept of tags(1. and 3.) can you please elaborate.

[2019-03-06 15:52] lachmanfrantisek commented on #91
As I remember:
- Gichangelog generates the changelog from commit messages, that are prefixed (`fix: something`, `add: other`).
- Changelog for one version is generated from the commits between two git tags, that points to the releases.
- We want to add changelog for the new version to the `CHANGELOG.md` file and then commit these changes in the PR. After the merge, we need to create a tag and GitH

[2019-03-06 15:55] lachmanfrantisek commented on #91
Maybe a second approach: The gitchangelog generates the changelog for the non-released code as well, but we probably need to tweak the output a bit.

[2019-03-06 17:54] marusinm commented on #112
**Current state:**
I have deployed release-bot in OpenShift online. I created new webhook on repo which is watched by this release-bot instance. Then I built simple [flask](http://flask.pocoo.org/) based application and I was able to listen to all newly created Issues and Pull requests. Everything is working in Openshift online.

  I also find some nice libs about how to process webhook callbacks:

[2019-03-07 04:02] CodHeK commented on #134
I was going through Fedora's Project ideas for GSoC'19 and found the "Release-bot" idea. I'd love to work on this project! Can you please suggest me how to proceed with this issue ?

[2019-03-07 04:07] veer11997 commented on #134
@TomasTomecek i would like to work on the project. And want to contribute on it.

[2019-03-07 10:01] shresthagrawal commented on #91
@lachmanfrantisek I think using the unreleased changelog would be a good choice to go with! Is their a way to generate only a part of the changelog or else do we need to generate the complete changelog everytime. What I think would be a good approch would be to get the content of just the unreleased block and update our already existing changlog file and leave rest of the process the same.

[2019-03-07 10:09] lachmanfrantisek commented on #91
I think you can specify the commits with e.g. `0.1.0..HEAD`. (Old version to head.)

:+1:

[2019-03-07 10:13] shresthagrawal commented on #91
@lachmanfrantisek What do you think of the gitlogconfig file ? should we have it all configured on our side or give the user acccess to it ? or should we have a check if the user has provided his own config and if not just use one of the default script.

[2019-03-07 10:14] TomasTomecek commented on #112
+1, using django for this would be a total overkill, flask will be just fine

I checked the proposed flask library and personally -1 on using it:
* `Latest commit e9a70dd on Sep 7, 2017`, so it's no longer maintained, pretty much.
* The code has 150 lines only, and since we'd be interested in releases, issues and PRs only, we can easily have the code for processing the webhooks directly in our bot

[2019-03-07 10:16] lachmanfrantisek commented on #91
Yes, we need a good default, without any work from the developer side.

But, if someone wants to tweak it, then we have to allow them to do it.

[2019-03-07 10:18] shresthagrawal commented on #91
@TomasTomecek @lachmanfrantisek  I thing I should it would be really good if we have a feature like release-bot init which adds all the config files(conf.yaml and release-conf.yam) to the current repo. it would be just a shell script which asks some basic questions and does all the initialization ? that would also ask if the user wants to gitreleaselog if yes then it automatically adds a default c

[2019-03-07 10:21] TomasTomecek commented on #134
Hi guys, thank you for your interest! We'd gladly accept your contributions.

Right now we are in a process of moving some of the release-bot's functionality into a dedicated project, https://github.com/packit-service/packit, as discussed in #138. This issue is affected by the move. I'm going close all the related issues so that it's not confusing.

[2019-03-07 10:21] #134 closed

[2019-03-07 10:22] TomasTomecek commented on #149
We already have a ton of code for this in [ogr](https://github.com/packit-service/packit)

[2019-03-07 10:23] TomasTomecek commented on #135
Closing since packit will handle this.

[2019-03-07 10:23] #135 closed

[2019-03-07 10:24] TomasTomecek commented on #114
Closing since packit will handle this.

[2019-03-07 10:24] #114 closed

[2019-03-07 10:24] TomasTomecek commented on #11
Closing since packit will handle this.

[2019-03-07 10:24] #11 closed

[2019-03-07 10:32] CodHeK commented on #134
Does this mean I should take up issues on the packit project ? If not then which issues should I try solving on this repo? 

On Thursday, March 7, 2019, 3:51 PM, Tomas Tomecek <notifications@github.com> wrote:

Hi guys, thank you for your interest! We'd gladly accept your contributions.

Right now we are in a process of moving some of the release-bot's functionality into a dedicated project, https

[2019-03-07 10:50] shresthagrawal commented on #91
Thanks `gitchangelog ^<latest_release_version> HEAD` would return only the unreleased logs

[2019-03-07 11:35] marusinm commented on #112
+1, Thanks for checking the library. I have already tried to write some handler for such webhooks, it shouldn't be a problem.

I agree that we should distinguish between the two modes of release bot via configuration.

I was thinking to use `webhook_callback_url` to distinguish the two modes of release-bot and also we will be able to use url to set webhook in bot instead of bothering a user in the

[2019-03-07 11:51] shresthagrawal opened #167 "Glitch in the creating PR from issue"
if the user creates an issue for a new release the bot creates a pull request and adds the comment in the following way

The same comment is generated even if their is or isn't a CHANGELOG.md available in the repo. Which is confusing, either it should tell that their is no CHANGELOG.md (as it does for the version files) or it should create a CHANGELOG.md with the auto generated changelogs.

[2019-03-07 14:42] TomasTomecek commented on #91
`release-bot init` is definitely a good idea, please start a new issue for that and let's not complicate this one

[2019-03-07 14:47] TomasTomecek commented on #134
@CodHeK there is a ton of issues opened on this project, feel free to pick one or just comment if you need a better description and we'll improve it; I totally suggest running the bot locally yourself, so you'd get a good picture on what it does and how it can be improved; I don't suggest looking at packit since it's under heavy development and there are a ton of changes flowing every day.

We jus

[2019-03-07 14:57] shresthagrawal opened #168 "release-bot init"
I suggest a proposal to create a init script for release-bot. The user can go the root dir of the project and call something like `release-bot init` which will ask the user for some basic config questions and auto generate all the config files(conf.yaml and release-conf.yam) and get the repo ready for the release-bot.

[2019-03-07 15:11] Pac23 commented on #153
Thank you @jpopelka :+1:

[2019-03-07 15:34] TomasTomecek commented on #168
This is definitely a good suggestion! It will be very handy for new users.

In the other comment you mentioned a shell script. I'm personally very much against writing anything in shell, it should be all python and integrated into release-bot's codebase.

[2019-03-07 15:36] shresthagrawal commented on #168
Python would work great! :+1:

[2019-03-08 15:27] TomasTomecek opened #169 "r-bot should read git tag instead of github release"
[code]

because humans can title releases with funny names instead of the semver string, therefore release bot should get the associated tag name instead of github release title.

[2019-03-08 15:37] TomasTomecek opened #170 "repository name != pypi name is a problem"
We ran into this issue when doing the first release in [packit](https://github.com/packit-service/packit). The name in PyPI is packitos and sadly release-bot checked against PyPI repository packit, not packitos.

TODO:
* [ ] add a new option to config file to set PyPI project name:
[code]
* [ ] optionally, try to parse the project name from setup.cfg (this is a stretch goal)

[2019-03-08 15:38] TomasTomecek opened #171 "implement dry-run mode"
It would be nice if release bot had a dry run which would not perform any remote changes and would just inform about possible actions.

[2019-03-09 08:21] shresthagrawal opened #173 "Bug in creating branch for release pr"
The make_new_pypi_release() function calls the checkout function to change from master to latest branch and nevers returns back to master branch hence after some loops if the user requests a new release the make_new_github_release() function is called but the current branch is still the last version branch and the new branch for this pull request is made from last branch and and not the master bra

[2019-03-10 20:50] Z0Marlin commented on #168
@shresthagrawal I would like to work on this issue. Could please provide some more details about how you want this implemented, and where should I start from?

[2019-03-11 07:29] shresthagrawal commented on #168
@Z0Marlin Before reading below it would be really helpful if you once try release-bot in some test project or just skim through the code base. The proposal basically is to modify the existing cli and add an option for init. This will enable user to just get inside their main project repo and type 'release-bot init' which will add all the required yaml conf files into the root dir. Further the next

[2019-03-11 08:51] Aniket-Pradhan commented on #171
I would like to work on it. :)

Will submit some changes soon.

[2019-03-11 16:26] Aniket-Pradhan commented on #171
After looking at #138  and #176 I don't think that I should work/make changes on the Fedora-related files. Right?

[2019-03-11 16:30] #138 closed

[2019-03-11 21:29] Elias999 commented on #170
Just a clarification, by the title you mean the situation when the pypi name have to be different than repository name?

[2019-03-11 21:57] Z0Marlin commented on #168
Alright! Will look for other issues. I also did try the bot on a private repo. One problem that I observed was, I was being asked for `username` and `password` every time the bot performed a check. Is this intended behavior?

[2019-03-11 21:58] rpitonak commented on #170
@Elias999 exactly

[2019-03-12 08:06] TomasTomecek commented on #170
@Aniket-Pradhan that's not enough, because people can have the name specified in setup.py. I'd love if the pypi repository name could be configured in the config file. I'll update the original post.

[2019-03-12 08:16] TomasTomecek commented on #168
@Z0Marlin Could you please create a new issue for that and include more info?

[2019-03-12 08:25] Elias999 commented on #170
I have started working on it.

[2019-03-12 09:04] TomasTomecek commented on #171
@Aniket-Pradhan #176 is already merged, so there no Fedora-building-related changes in release-bot now. Please rebase.

[2019-03-12 15:09] #173 closed

[2019-03-12 15:48] Elias999 commented on #170
I just added a new line in configuration.py, "self.pypi_project = ''", should i commit now ? Also i have started to write a new function so it can parse the metadata.

[2019-03-12 15:57] Z0Marlin opened #179 "bot asks for GitHub credentials every time it polls, when using with a private repo"
When using the release-bot with a private remote repository, the bot prompts for the Github credentials of the user, every time it polls from the server.
To reproduce:
1. install `release-bot` (I used `pip` install).
2. Set up a private repository on GitHub, and the add `release-conf.yml` file in it.
3. In your local machine create the `conf.yaml` file, and enter the required options in it.
4. run

[2019-03-12 15:58] Z0Marlin commented on #168
Created issue #179

[2019-03-12 16:09] jpopelka commented on #170
@Elias999 commit, push and create a Pull Request where we can discuss the changes

[2019-03-12 16:47] TomasTomecek commented on #179
I'm assuming that it happens when the bot is cloning the repository -- some logs would be pretty helpful.

More thinking... If the bots does `git clone https://...` and the repo is private, it needs to provide credentials for github. So I guess we should clone using the ssh url.

https://github.com/user-cont/release-bot/blob/master/release_bot/releasebot.py#L39

Changing that to the ssh url should

[2019-03-12 17:11] Aniket-Pradhan commented on #179
`git clone https://<user-name>:<token>@github.com/<user-name>/<project-name>.git`

Another way to clone a repository, without asking for a password. Maybe we can replace it with the current clone function.

[2019-03-12 17:16] TomasTomecek commented on #179
Please don't. That would make very easy for the token to leak. Let's try the ssh url first.

[2019-03-12 17:17] Z0Marlin commented on #179
Yes this is exactly what's happening.
[code]
The bot needs the credentials for performing `clone`, `pull`, or `fetch`.

[2019-03-12 17:22] Z0Marlin commented on #179
I think we should add an option in the config to switch to ssh url, and inform the user to activate the option when working with private repos.

[2019-03-12 18:54] TomasTomecek commented on #179
I think we should use the ssh URL by default.

[2019-03-12 18:59] Z0Marlin commented on #179
I see. But won't that force every user to generate a key pair and set up the keys? Because if the repo is public, then SSH wouldn't be needed. Could we add an option in the configuration that allows the user to use the `https` method, and by default use the `ssh` method?

[2019-03-12 19:09] TomasTomecek opened #180 "Package release-bot to Fedora"
It feels like it's finally time to package release-bot as an RPM to Fedora.

[2019-03-12 19:12] TomasTomecek commented on #179
I'd say that's a prerequisite for working with git and github :D

Feel free to add a new field into configuration, something like:
[code]

And everyone will be able to pick the precise URL. Otherwise, we can default to https the way it works now. WDYT?

[2019-03-12 19:22] Z0Marlin commented on #179
Yeah, I think that will be good. Will provide the `clone_url` field in the config.

[2019-03-13 19:11] Z0Marlin opened #183 "Improve Contributor's Guide"
I think the contributing guidelines need some improvements. One such improvement would be to add a section which says something like **Development Environment**, which explains how to set up an environment to locally test the changes made in the code.

[2019-03-14 13:58] Aniket-Pradhan commented on #183
One more improvement could be on how to utilize the test suite. I am sort of new to containers, and it took me a good jig of time to set up the Docker container.

Moreover, to run all the tests, we need to submit the Github username and token, which is not specified in the document, but in the `Makefile`.

[2019-03-14 14:01] Aniket-Pradhan commented on #180
Can I package it for the [AUR](aur.archlinux.org)? I am maintaining several packages over there and would love to maintain `release-bot` as well.

I can create/help with the PKGBUILD, which is required for submitting the package to the AUR.

[2019-03-14 16:17] shresthagrawal commented on #12
@TomasTomecek can you please close this issue

[2019-03-14 16:24] shresthagrawal commented on #110
@TomasTomecek Should I implement add a version_regex field to the config file to define custom version regex for the projects?

[2019-03-14 16:30] shresthagrawal commented on #112
@marusinm Hey the Idea looks pretty cool! Is their any part of the issue that I can work on, just to speed up the process?

[2019-03-14 16:45] rpitonak commented on #12
Solved by #164

[2019-03-14 16:45] #12 closed

[2019-03-14 18:14] jpopelka commented on #12
are you sure? (#164 was closed)

[2019-03-14 18:18] rpitonak commented on #12
@jpopelka thanks, should be fixed now

[2019-03-15 08:00] shresthagrawal commented on #169
I am working on it!

[2019-03-15 08:26] shresthagrawal commented on #169
What if people have funny names for the tags also ?

[2019-03-15 08:43] marusinm commented on #112
@shresthagrawal thank you I appreciate this but I am almost finished. Maybe another time.

[2019-03-15 10:32] TomasTomecek opened #187 "refactor: stop passing self.new_release and self.new_pr dicts around"
Release-bot uses two dicts to store data: new_release and new_pr. It's very cumbersome to work with them since one has no idea what's inside.

TODO

* [ ] remove ReleaseBot.{new_release,new_pr} dicts
* [ ] replace them with normal classes
* [ ] let methods and functions accept the parameters directly instead of a dict

[2019-03-15 10:38] shresthagrawal commented on #187
@TomasTomecek Do you expect to create a different class for release and pr, or just have all the variables of the release and pr dicts in the existing class ?

[2019-03-15 11:41] Aniket-Pradhan commented on #187
A `new_release` class will contain all the information from release-conf whereas `new_pr` will contain all the information for the PR.

Can I work on it?

[2019-03-15 13:46] shresthagrawal commented on #187
@Aniket-Pradhan Sure! I will find something else.

[2019-03-15 14:45] TomasTomecek commented on #180
Well, you are free to do whatever you want :D this is open source software. We would also be glad if the software was available in linux distros.

I think none of us, upstream devs, is a user of Arch so we won't be able to help.

[2019-03-15 14:47] TomasTomecek commented on #110
Honestly, I don't know how to tackle this one. We are using semver to compare versions and if semver fails to parse the version, the execution stops. One regex would not do, we would need a more sophisticated solution. Maybe there are already libraries which handle this situation.

[2019-03-15 15:59] Aniket-Pradhan commented on #180
No worries about that.

Should I create a new pull request to add in the `PKGBUILD` to the master?

It is a file used to automate the creation of packages using [makepkg](https://wiki.archlinux.org/index.php/makepkg). The resultant package can be then installed using `pacman`, the package manager for Arch systems.

[2019-03-15 16:04] jpopelka commented on #110
The warning comes from [update_version()](https://github.com/user-cont/release-bot/blob/master/release_bot/utils.py#L242), which uses `semantic_version.validate()` to make sure the version string we found in `{'setup.py', '__init__.py', 'version.py'}` is a proper semantic version string.
I think we don't need to be so strict in this case and just replace

[code]
with
[code]

[2019-03-15 18:00] TomasTomecek commented on #169
we should beat them then!

okay, jokes aside, yes that's also a normal case when people use specific tagging scheme, so probably make this configurable by specifying a regex which would get us from an upstream release to a git tag; but, this issue is really about just comparing two versions for the bot to know if there is some work to be done

[2019-03-15 18:05] TomasTomecek opened #188 "version comparing improvement"
right now the bot parses two versions using semver and then figures out if there is some work to be done

if the comparison fails, how about if we controlled bot by labels or comments?

e. g. we could a comment or a label saying /release which would tell bot to do a release

what do you guys think?

[2019-03-15 18:08] TomasTomecek commented on #187
my problem here is that I hate that we're passing a dict around because it's impossible to figure out what's inside

please suggest an improvement how the code look better and be easier to work with

[2019-03-15 18:11] TomasTomecek commented on #180
a link in readme is just fine, we wouldn't be able to consume the file

[2019-03-15 18:12] shresthagrawal commented on #188
I think the bot should be talkative and more intelligent. It should check the commits after the last release and if there are new commits it should ask the user that there are updates but the version seems incorrect would u like to force release? And may be we can also update that in the cli with — force

[2019-03-15 18:37] shresthagrawal commented on #180
I can also help in testing it as I am also an arch user :))

[2019-03-16 08:23] Aniket-Pradhan commented on #187
I was following your suggestion, that we can replace the dicts using classes. In that way, we would know what all is there inside the class.

The question arises, what should be the structure of the new classes. I went through the code, and I was able to summarize that:

`new_release` dict contains the following elements:

[code]
`new_pr` contains:
[code]

I was thinking of creating two classes ba

[2019-03-16 09:05] Aniket-Pradhan commented on #180
The AUR package is live at the [AUR](https://aur.archlinux.org/packages/release-bot)!

Making a PR to update to readme.

[2019-03-17 18:51] TomasTomecek opened #190 "use ogr instead of our custom github api client"
We have developed a pretty solid library which makes it easy to connect to various git forges, it's available over here:
https://github.com/packit-service/ogr

We should get rid of present github-related code we have now and replace it with ogr. It may be possible that we have to add functionality into ogr.

This would also make it trivial to support pagure.io CC @pypingou

[2019-03-18 09:21] TomasTomecek commented on #187
@Aniket-Pradhan sounds good, I like your suggestion.

[2019-03-18 10:43] pypingou commented on #190
:fireworks: :1st_place_medal: :sun_with_face: :trophy:

[2019-03-18 12:20] Aniket-Pradhan commented on #187
@TomasTomecek that's basically your suggestion. :stuck_out_tongue:

Anyways, PR incoming!

[2019-03-18 17:04] shresthagrawal commented on #190
I am working on it!

[2019-03-18 17:27] shresthagrawal commented on #169
please close this
solved by #186

[2019-03-18 17:34] #169 closed

[2019-03-19 08:32] #179 closed

[2019-03-19 09:38] TomasTomecek opened #193 "Add support for pagure.io"
Requires #190

Right now we only support Github. In Fedora land, a lot of projects use pagure.io, let's add support for it!

[2019-03-25 14:00] marusinm commented on #193
I was getting hands dirty with this issue and made some research. I have a few questions:
1. Why do we need to use fedmsg? I found that pagure.io has similar webhooks as Github. https://docs.pagure.org/pagure/usage/using_webhooks.html I also think this is more straightforward then fedmsg which I still don't understand completely.
2. What exactly the CLI interface for this functionality means? This

[2019-03-25 22:48] ash753 opened #197 "migration to pipenv for easier environment setup and management"
I suggest to migrate to pipenv because Pipfiles are easier to manage, also we can use `.env` file to store critical environment variables which sourced automatically while issueing `$ pipenv shell` and use them inside the code using `os.environ.get()`

[2019-03-26 00:24] ash753 commented on #162
Hi,
I set `pypi: false` inside `release-conf.yaml` but I still get too many comments telling it failed to publish on pypi

[2019-03-26 02:05] ash753 opened #198 "the bot doesn't issue new releases because of previous pypi failure"
I've created a `new patch release` issue in the repo but release-bot won't recognise it and will always check upon the previous PR release, and tell it's already released then comment with failure to publish on PyPi message, then goes to sleep, and so forth.

[2019-03-26 03:02] Aniket-Pradhan commented on #162
Which release-bot version are you using? Are you building from GitHub, or installing it using Pip?

[2019-03-26 08:11] TomasTomecek commented on #193
Cool, I did not know that pagure supports webhooks as well: that will make things much easier.

By CLI interface I meant: run release bot and listen to events on fedmsg bus, but that won't be needed.

[2019-03-26 08:41] TomasTomecek commented on #162
Run it with --debug and you'll be able to see in logs what's wrong.

[2019-03-26 08:42] TomasTomecek commented on #198
I thought this was already fixed in upstream, please post debug logs

[2019-03-26 08:43] TomasTomecek commented on #197
We are using containers for release-bot deployment so this doesn't bother us, upstream devs, much. Feel free to submit a PR.

[2019-03-26 11:17] lachmanfrantisek commented on #197
We've already had discussion and ["research"](https://github.com/user-cont/kwaciaren/wiki/Pipenv-(not-used)) about that.

We agreed that it gives us no benefit and does not work well with the releasing to the Linux distributions, where you should not depend on the specific version of the required packages.

[2019-03-26 12:55] ash753 commented on #198
my mistake I was using the pypi version, yes it's fixed in the upstream

[2019-03-26 12:55] #198 closed

[2019-03-26 13:14] ash753 commented on #162
same as #198 and it's fixed in upstream, I was using the pypi package.

[2019-03-26 14:52] bowlofeggs opened #199 "[RFE] Add support for towncrier"
It would be nice if release-bot supported [towncrier](https://pypi.org/project/towncrier/), a tool that helps you generate release notes.

[2019-03-26 15:38] ash753 commented on #197
I've worked with Pipenv basic operation, it's just very easy to get started with, and the development environment creation will be easier for newcomers, that's the main benefit I see.
Concerning the research you @lachmanfrantisek mentioned, I suppose we shouldn't care about windows being a first class citizen, however, the first statement needs more consideration.

I will do further research and s

[2019-03-26 16:14] lachmanfrantisek commented on #197
I understand. I have seen many youtube videos about Pipenv, but still cannot see the real advantage comparing the virtualenv/virtualenv-wrapper/... BTW, the two links mentioned in the wiki are very interesting.

Definitely, the first one is big(er) problem. I'm just scared about duplicating the requirements. We need one place with requirements and still support standard PyPI packaging.

It would b

[2019-03-26 16:33] Aniket-Pradhan commented on #197
Some two cents about my experience with `pipenv`.
I was trying out a Django application which was using `pipenv`. The installation and locking procedure (not downloading) of dependencies took almost 10 minutes!

I agree `pipenv` is beginner friendly, but it is really slow. [Here](https://chriswarrick.com/blog/2018/07/17/pipenv-promises-a-lot-delivers-very-little/#the-part-where-i-try-to-measure-ti

[2019-03-27 08:39] TomasTomecek commented on #199
There is a PR #175 opened which utilizes gitchangelog for this. Would it make sense to support multiple changelog generation backends? And let user pick the preferred one.

[2019-03-27 14:52] ash753 commented on #197
After doing my research, I'm convinced it's not worth it. I will just add another tool that's not necessary.

[2019-03-27 14:52] #197 closed

[2019-03-27 19:05] bowlofeggs commented on #199
Good question, I'm actually not familiar enough with either project to comment about whether they fully overlap with features or not.

Do you know if gitchangelog makes it possible to show only part of a commit message as release notes, vs the entire commit message? I wouldn't want every commit message shown, and I also would want a separation between which part of the message was intended for dev

[2019-03-27 22:07] lachmanfrantisek commented on #199
You can specify some message prefix (`new`/`fix`/..) and gitchangelog takes only those commits and groups them to the final changelog.

In [their sample commits](https://github.com/vaab/gitchangelog/blob/master/README.rst#sample) they have `dev` and `usr` as well:

[code]

You can probably configure some custom matching/parsing but I've not used that.

[2019-03-28 13:21] Aniket-Pradhan commented on #187
Time to close this. #192  :D

[2019-03-28 13:22] Aniket-Pradhan commented on #171
Time to close this.

Solved by #177

[2019-03-28 14:05] #171 closed

[2019-03-28 14:06] #187 closed

[2019-03-28 15:19] ash753 commented on #115
Can I take this as my long-term GSoC participation?

first thing I see: we should let the maintainer know the important events like when a release was successful or not through the notification daemon or email?

[2019-03-29 07:22] ash753 opened #200 "Generic interface for maintainers to package their projects in various formats"
I'm seeking a good idea for my GSoC proposal + #115

The suggestion is to create a generic interface for the maintainer to add a method
by which r-bot can use a pre-existing build system and packager to package the
monitored projects in whatever format (RPM, Deb, Flatpak, etc…) the maintainer wants.

[2019-03-29 07:36] TomasTomecek commented on #200
Wow, this sounds really interesting. We would need to know more details on how would this work: requirements, workflow and expectation. Feel free to include those in your GSoC proposal.

[2019-03-29 07:39] TomasTomecek commented on #115
Release-bot already does this.

I'm sorry but I don't know what this is.

I'd personally prefer to use github comments and issues: emails are too hard.

[2019-03-29 08:42] Aniket-Pradhan commented on #115
It's a daemon used to send desktop notifications. It will be useful if you're running the bot on a personal desktop, and not on a container or openshift.

[2019-03-29 10:35] TomasTomecek commented on #115
Oh, okay then. Feel free to send such support but TBH, I think most of the people would prefer to run the bot somewhere in the cloud and don't care about its management.

[2019-03-29 11:33] ash753 commented on #115
OK will start working on it right after my midterm exams

[2019-03-30 09:12] Toaster192 commented on #133
@TomasTomecek Would just getting the info from a hardcoded user 'usercont-release-bot' (and in case it fails, use the approvers details) be sufficient or would you want to cover forks of the bot and such? (maybe try to get the info by running a `git remote show origin` in the base folder or something)

[2019-03-31 09:59] Toaster192 commented on #190
I think this would at least require https://github.com/packit-service/ogr/blob/master/ogr/abstract.py to be implemented (instead of porting it now and then porting it again to abstract), that would provide a better replacement for the git and github classes (and make it easy to implement all the extra utility functions like 'walk_through_open_issues' etc.)

[2019-04-01 08:12] TomasTomecek opened #202 "Checklist for the next release"
Since we got so much new code lately thanks to all of you guys, @rpitonak had an idea to do a new release.

Let's use this issue to track work which needs to be done to do a next minor release of release-bot.

I hope we could do this mid-April. WDYT?

TODO
* [x] perform a release using git master code from release-bot (I released ansible-bender 0.5.2 using the code in git master)
* [x] merge #182

[2019-04-01 08:40] TomasTomecek commented on #190
@Toaster192 we already have pagure support in ogr: https://github.com/packit-service/ogr/blob/master/ogr/services/pagure.py

[2019-04-01 08:49] TomasTomecek commented on #133
@Toaster192 no need to handle bot's forks, they should not be used anywhere AFAIK

It turns out this may be actually just a configuration issue of our deployment: one can specify author in the config.

And as I'm thinking about this now, @rpitonak removed all Fedora and RPM-related code recently, so this is not even relevant any more, closing then.

(I think we should reintroduce the rpm-spec bump

[2019-04-01 08:49] #133 closed

[2019-04-01 08:53] TomasTomecek opened #203 "Add support for hooks"
Related: https://github.com/user-cont/release-bot/issues/133#issuecomment-478491919

We removed all Fedora & RPM related functionality from release-bot. I personally miss the part where release-bot bumped the spec file. Can we reintroduce this functionality back in a form of hooks? I recall we discussed this in https://github.com/user-cont/release-bot/issues/74

My expectation here is that release

[2019-04-01 12:07] Toaster192 commented on #190
@TomasTomecek Yeah but wouldn't it make more sense to finish the abstract interface for ogr so it works regardless (github / gitlab/ pagure) and then use that for release-bot?

I feel like there would be a lot of redundant code later

[2019-04-01 12:19] lachmanfrantisek commented on #190
I am not sure if I got your point, but If you miss something in the ogr API, feel free to send PR there. (So we have the code only there and avoid the redundant code.)

(And also we can benefit in other projects that use ogr.)

[2019-04-01 12:39] Toaster192 commented on #190
@lachmanfrantisek Correct me if I'm wrong but the abstract.py is a sort of a interface so you can use the ogr API without having to keep all the different repo-hosting platforms in mind? And there seems to be functions not yet implemented that would be useful for release-bot, for example the 'get_pr_list()' for the 'walk_through_prs()' in release-bot/github.py. Without those functions implemented

[2019-04-01 12:55] lachmanfrantisek commented on #190
Yes

You mean the  `raise NotImplementedError()` in [AbstractProject](https://github.com/packit-service/ogr/blob/master/ogr/abstract.py#L192)?

It is just a default implementation. The particular services should override this - like [`get_pr_list` in `GithubProject`](https://github.com/packit-service/ogr/blob/master/ogr/services/github.py#L126).

We can use and update the ogr on the fly. (Since th

[2019-04-01 13:03] Toaster192 commented on #190
Oh, I missed that it was getting overriden

I'll make sure to put more work into it before I ~~annoy~~ message you guys again, thanks a lot!

[2019-04-01 13:05] lachmanfrantisek commented on #190
No problem.;-)

[2019-04-01 17:50] Toaster192 commented on #129
Ready to be closed?

[2019-04-01 17:52] Toaster192 commented on #183
Can be closed?

[2019-04-01 18:21] Aniket-Pradhan commented on #121
I don't know if you are still interested in it, but I got a few cool names.

I thought we can use the suffix `-rb` (release-bot) to come up with a name.

For example:

`orb`: Original Release Bot (orb is already available on PyPi. :confused: )
`torb`: The Original Release Bot (a rip off of the first one)
`forb`: Fedora's Original Release Bot (If we can use the word Fedora alongside)
`ferb`: Fedora

[2019-04-01 18:41] Aniket-Pradhan commented on #202
I guess we can finish up with the open PRs before a new release?

I was also thinking #105 or #141 could also be pushed into this release because they seem to be not that big (I might be wrong) and to close some old issues.

All the other issues seem big enough that can be included in a single release.

[2019-04-01 19:18] #183 closed

[2019-04-01 19:28] Z0Marlin commented on #202
I think a lot of changes and new features have been added. We can safely make a release now. And yeah I agree with @Aniket-Pradhan that we can should the open PRs and then make the release.

[2019-04-02 07:09] #129 closed

[2019-04-02 08:51] jpopelka commented on #105
@rpitonak where are we? I see we have:
* [Jenkinsfile](https://github.com/user-cont/release-bot/blob/master/Jenkinsfile)
* [release-bot-push](https://ci.centos.org/view/UserCont/job/release-bot-push) and [release-bot-pr](https://ci.centos.org/view/UserCont/job/release-bot-pr) jobs

I guess we still need to figure out the secrets and also I see that the release-bot-pr was run the last time on Mar 1

[2019-04-03 18:16] rpitonak commented on #105
Exactly, we need to solve the secrets or change the test suite to not use github directly.

[2019-04-04 14:40] TomasTomecek commented on #202
@Aniket-Pradhan I propose to not work on new things: let's just clean up and release.

The gitchangelog+init PR is pretty big: we should make sure it works well before merging and releasing it.

[2019-04-04 14:41] TomasTomecek commented on #202
@rpitonak since this is your idea, can you take care of the release? :D

[2019-04-05 07:55] rpitonak commented on #202
@TomasTomecek sure!

[2019-04-05 13:18] marusinm commented on #202
+1 for release. If you will need any help with testing or whatever I'm ready.

[2019-04-08 09:17] rpitonak commented on #202
Thank you all for offering help!

I am going to make a new release by the end of this week. I would be glad for your reviews once release PR is done!

[2019-04-09 10:36] #170 closed

[2019-04-09 12:44] rpitonak opened #208 "0.7.0 release"

[2019-04-09 12:47] #208 closed

[2019-04-09 13:56] rpitonak opened #210 "new minor release"

[2019-04-09 14:04] #210 closed, assigned to nobody

[2019-04-09 15:13] jpopelka opened #212 "utils.py WARNING '' is not a valid version"
I'm seeing this in logs of all deployed instances.
No idea where it comes from and whether it's a problem.

[2019-04-10 07:17] Aniket-Pradhan commented on #212
In [utils.py](https://github.com/user-cont/release-bot/blob/master/release_bot/utils.py#L72).

If the function is not able to parse a valid version, there is no reason to log the `version` variable (since it will be an empty string).

[2019-04-10 07:23] Aniket-Pradhan opened #215 "Do not set pypi_project when pypi is false in release-conf.yaml"
When `pypi` is False in `release-conf.yaml` there is no need to perform operations on `pypi_project` and give out warnings.

[2019-04-10 07:26] jpopelka commented on #212
I see, the question is where/why it can't parse a version. Logging some more info in such case is definitely a good idea.

[2019-04-10 07:27] Aniket-Pradhan commented on #212
What was the issue title in your case? We can start from there.

[2019-04-10 07:37] jpopelka commented on #212
I don't know, but here's one such example - log from release-bot instance checking [conu repo](https://github.com/user-cont/conu):
https://paste.fedoraproject.org/paste/7rZeEgyXLjgZ05odFduwbw

[2019-04-10 07:45] Aniket-Pradhan commented on #212
It's because one of the issues contain the word "release" and have no identifiable release version with it.

In line [56](https://github.com/user-cont/release-bot/blob/master/release_bot/utils.py#L56) the bot looks for the word "release". If it finds the word in any of the issues, it looks for the version. And since no parsable version can be found it logs the warning.

[2019-04-10 07:56] jpopelka commented on #212
Ok, I'd maybe lower the level from `warning` to `info` and log the `title`. What do you think? Interested in creating a PR?

[2019-04-10 08:07] Aniket-Pradhan commented on #212
Sure. Why not!

On it.

[2019-04-11 07:02] rpitonak commented on #202
[0.7.0 release](https://github.com/user-cont/release-bot/releases/tag/0.7.0)

[2019-04-11 07:02] #202 closed

[2019-04-11 07:02] #215 closed

[2019-04-11 07:03] #212 closed

[2019-04-11 12:15] jpopelka opened #218 "Did not release packit 0.3.0 to PyPI"
But we've lost logs from [the release](https://github.com/packit-service/packit/pull/247#issuecomment-481309778), so don't have more info.

[2019-05-18 09:52] jpopelka commented on #218
Should be fixed with #219

[2019-05-18 09:52] #218 closed

[2019-05-18 09:53] jpopelka opened #221 "new patch release"

[2019-05-18 09:57] #221 closed

[2019-05-20 07:58] rpitonak opened #223 "Tests failling on master"
[code]

Full log:
https://travis-ci.org/user-cont/release-bot/jobs/534685599

[2019-05-23 06:50] #223 closed

[2019-05-25 09:10] Aniket-Pradhan opened #225 "release-conf.yaml created by init contains weird newline characters."
The release-conf created by `release-bot init` has unstripped newline characters in the Author Name and Author E-Mail fields.

As an example:

[code]

[2019-05-27 09:07] #225 closed

[2019-06-17 22:15] marusinm commented on #190
I looked at this issue closer and I'm a little bit skeptical. Firstly, I thought that this will need just some changes inside bodies of functions from rest API/graphQL API with [ogr](https://github.com/packit-service/ogr). But now I think this could be quite a complex problem which means change functions declarations, write or delete more functions maybe classes. Write or delete tests and so on.

[2019-06-18 06:16] lachmanfrantisek commented on #190
I hope there will be more deletions. If there is anything missing from the perspective of GithubAPI, it is better to add it to the ogr, so multiple projects can benefit from it...

[2019-06-19 12:08] TomasTomecek commented on #190
Yup, this is definitely not a trivial issue to solve.

[2019-06-27 08:01] jpopelka opened #228 "Bump also spec file version"
When creating a new release PR, it'd be nice if release-bot bumped also a version in a spec file if there's one in the repo.
Like [here](https://github.com/packit-service/ogr/pull/78/files).

`rpmdev-bumpspec` (from `rpmdevtools` package), which should do the work.

[2019-07-04 08:15] marusinm opened #230 "add or replace options names in configuration file"
Related to #190

In `conf.yaml` we have options like `github_token`, `github_username` or `clone_url`.
Now, when we started to replace Github API calls with ogr. Release bot will be available also for Pagure. What can we do with conf file:

1. We **add** new options to the configuration file like `pagure_token`, `pagure_username`, `github_clone_url` and `pagure_clone_url`.

2. Or we **replace** or

[2019-07-04 08:20] marusinm commented on #230
Also, we should consider which options in `conf.yal` will be required and which optional after ogr will be implemented.

[2019-07-04 08:39] lachmanfrantisek commented on #230
From the perspective of ogr, you can use both ways:
[code]
[code]

[2019-07-04 09:15] marusinm commented on #230
Yes, the usage of ogr is clear to me.
One of my points is option `clone_url`, since it is not required in `conf.yaml`. However, it is still created from github.com string. It is not a problem to create `clone_url` from pagure.io or src.fedoraproject.org strings as well.

I'm just asking if I can replace option `clone_url` with `github_clone_url` and `pagure_clone_url` in `conf.yaml`. Because there

[2019-07-04 10:45] rpitonak commented on #230
I would go for this option since in most cases you will be doing releases of one project just from one repository - either GitHub or pagure.

In the future, when one instance of RB will be able to handle more projects this could be solved just by adding the second repo to the configuration as well.

[2019-07-04 14:32] jpopelka commented on #230
yes

+1

[2019-08-06 13:43] #190 closed

[2019-08-14 13:23] marusinm commented on #193
I was debugging release-bot on Pagure since we have implemented ogr-lib already. But there is a problem with git actions (e.g. `git push`) over https.

When release-bot works with Github it clones repo via https, then it sets a credential file to avoid login prompts which allows e.g. `git push`. However, this doesn't work for pagure. I was also playing with Pagure repo in a cmd and I couldn't find

[2019-08-21 06:58] TomasTomecek commented on #193
I'd say that cloning via SSH is the key.

Fedora is using OpenID Connect for auth: https://fedoraproject.org/wiki/Infrastructure/Authentication#OpenID_Connect_Authentication I'm sure we should be able to push via https using that tech but we'd need a token for such a thing.

[2019-10-04 11:04] marusinm opened #238 "create two separate pods for Flask and Celery instances"
We have ready release-bot as basic Github App #237. However, Celery and Flask instances are now running inside [one pod](https://github.com/user-cont/release-bot/blob/c6935e3e4894adb4d0f4fe5eb1e8d8c0ec880676/files/run.sh) and should be separated.

It is possible we have to update also [deployment repo](https://github.com/user-cont/release-bot-deployment) for this.

[2019-10-10 09:14] jpopelka opened #241 "Fix/better logging after switch to Celery"
Since #237 release-bot will be doing the hard work in Celery tasks/workers.
The  [Configuration.set_logging()](https://github.com/user-cont/release-bot/blob/master/release_bot/configuration.py#L61) should be improved/changed as well so that it works nicely in the Celery task/worker.

See:
* [A quick guide to customizing your Celery logger ](https://www.distributedpython.com/2018/08/28/celery-loggi

[2019-10-18 11:14] CermakM opened #242 "[RFE] Provide token as GITHUB_TOKEN environment variable"
I'd like to be able to run Release Bot in an environment which has `GITHUB_TOKEN` exported so that I could commit the `conf.yaml` and the `github_token` is implicitly taken from the environment, if not provided in the configuration file.

[2019-10-18 13:12] CermakM opened #243 "The bot does not find the __version__ specified in __about__.py file"
It is common practice to provide the `__version__` attribute in either `__init__.py` or `__about__.py` files. The bot seems not to be able to find it in the `__about__.py` file.
Also, and it might be related to the problem, it doesn't generate the changelog.

Check out the PR created: https://github.com/CermakM/jupyter-nbrequirements/pull/39

[2019-10-18 13:23] CermakM opened #244 "[RFE] Configurable release branch pattern"
As a developer who wants to start using r-bot in an existing repo,
I want to be able to specify my own release branch naming pattern
so that I could stay consistent with the current naming conventions and
so that it is compatible with the current CI setup.

Example: My release branches are named `release-{version}`, but the bot implicitly creates `{version}-release` branch which is not compatible

[2019-10-18 15:27] CermakM opened #245 "[BUG] Version update is not aborted with multiple files"
The func which looks for version files (and also, confusingly enough, updates the versions in these files), the logger reports the following errors when multiple files are changed:

from [look_for_version_files] function:
[code]

However, the version HAVE been changed already... what is the desired behaviour, then? Should multiple version files be updated? Should the update be aborted, or not?

[l

[2019-10-18 19:58] CermakM opened #248 "[RFE] Make `refresh_interval` optional to allow the bot to run only once"
There are times I want to run the bot only once and exit immediately. A simple way to do this would be making the `refresh_interval` optional and if not provided, run only once and exit.

*EDIT* The `refresh_interval` already is optional, however, a default value is used when not specified.

[2019-10-18 20:00] CermakM opened #249 "Is there a way to allow only certain users to trigger the release?"

[2019-10-21 08:59] #243 closed

[2019-10-21 12:42] jpopelka commented on #248
I see your point Marku, but re-using `refresh_interval` the way you suggest would change the default behavior.

We already have [--dry-run cli argument](https://github.com/user-cont/release-bot/blob/master/release_bot/cli.py#L39).
So what about adding also something like `--run-once` or `--no-loop`? (more suggestions welcome)

[2019-10-21 12:59] jpopelka commented on #249
No, not at the moment AFAIK, but shouldn't be hard to add such feature ([ogr.GithubProject.who_can_merge_pr()](https://github.com/packit-service/ogr/blob/master/ogr/services/github/project.py#L217))

Renaming issue.

[2019-10-21 13:09] jpopelka commented on #245
I see, some places are really confusing indeed.

What do you think?
I'd say that the `len(changed) > 1` branch should be removed completely and leave just `if not changed`.

[2019-10-21 13:13] CermakM commented on #248
It wouldn't change the default behaviour, it would change the default configuration. I personally see no point in having `refresh_interval` defined unless I do want the bot to do the refresh and I find it confusing --- I would expect the bot to run once unless I explicitly tell it to refresh.

I initially thought about having the `--run-once` argument to the CLI. The problem is that it would decou

[2019-10-21 13:18] CermakM commented on #245
Well, I am mainly confused about the `Aborting version update.` part (since there is nothing being 'aborted') there.

+1, I think that updating multiple files is desired (altho it is not the best practice to have the version hardcoded in multiple places, some adventurers may do that anyway and we do want to bump all of these)

[2019-10-21 13:29] jpopelka commented on #245
feel free to fix it then  ;-)

[2019-10-21 13:52] jpopelka commented on #248
fair enough, I think I'm fine with the change then

Wow! Not sure if it helps you, but it should be possible to [run release bot as a Github App](#237 ) soon.

[2019-10-21 13:54] CermakM commented on #248
Yep, I am aware of that, but the problem with GitHub App is that it requires
a) user-provided token
b) all of the configuration to be present in the repo
c) a server to run on

None if this is required for the Action. I am gonna share updates with you guys once I make it work.

Currently, I am getting some nasty errors, feel free to check it out at https://github.com/CermakM/test/runs/268139764

[2019-10-22 06:46] CermakM opened #251 "Release bot as GitHub Action"
Hello,

I've been doing some groundwork around this. I am creating an issue so that I could link PRs and additional resources for this one.

Intro:
The GitHub actions are quite a new feature that GitHub opened for beta some time back. Check out [the article I wrote about it](https://medium.com/@marekermk/https-medium-com-marekermk-guide-to-a-custom-ci-cd-with-github-actions-5aa0ff07a656).

Justifi

[2019-10-22 07:22] rpitonak commented on #251
Hi Marek,

Thanks for your effort on this one. As far as I know, we can support both the app and the action, right?

I definitely like the idea of the release-bot as Github action and I am curious how the PyPI token would be handled in this case?

[2019-10-22 07:47] rpitonak commented on #251
Thank you for your answer, but my question was actually about PyPI token since release-bot can handle also PyPI releases.

[2019-10-22 10:37] CermakM commented on #251
Ah right, sorry, somehow miss the PyPI part -- there is such thing as PyPI token? :open_mouth:

[2019-10-22 10:39] rpitonak commented on #251
I meant `.pypirc` file with user credentials.

[2019-10-22 10:43] CermakM commented on #251
Correct, ye ... The current implementation of the GH Action allows to feed the yaml configuration as an argument to that action, see the [action.yml](https://github.com/CermakM/python-release-action/blob/master/action.yml) for more info.

[2019-11-12 09:57] jpopelka commented on #228
https://github.com/packit-service/packit-service/issues/223

[2019-12-13 10:11] TomasTomecek opened #252 "let the bot market itself more"
I am using release-bot with my own identity. I feel like it could be confusing for others to think that all the comments, issues and PRs are written by me and not by a bot.

I suggest that r-bot would include a line in every message which would tell that it's written by a bot with a link to this repo.

[2019-12-13 17:58] Aniket-Pradhan commented on #252
A message like this at the bottom for every task the bot performs:

[code]
"here" in the above example can be a link to the project repository

I can pick this ticket up if no one has started working on it yet.

[2020-01-02 09:14] TomasTomecek commented on #252
@Aniket-Pradhan that's exactly what I had in mind :)

[2020-01-15 09:42] jpopelka opened #253 "bot tries to upload also older tarball/wheel to PyPI"
https://github.com/packit-service/packit/pull/656

[code]

[code]

[2020-01-16 09:18] #253 closed

[2020-01-25 14:24] anshuldutt21 opened #259 "Error in setup -repository not found"
Using the docker setup command, I ran the command-
docker run -it -v ${PWD}:/home/test-user/app/ -v path/to/conf.yaml:/home/test-user/conf.yaml -e PYTHONPATH=/home/test-user/app release-bot-tests /bin/bash and replaced the path with my own.
But an error comes up saying :  fatal: repository 'https://github.com/owner/name.git/' not found.

[2020-01-29 15:32] jpopelka commented on #248
Changed in #250

[2020-01-29 15:32] #248 closed

[2020-03-07 06:46] jpopelka opened #262 "Use dashes instead of asterisks when generating changelog entries"
[Prettier](https://github.com/prettier/prettier) does not like the asterisks.

[2020-03-11 15:22] TomasTomecek commented on #262
I have implemented this thing in upsint https://github.com/packit-service/upsint/pull/50

I know that we have support for gitchangelog here but we never started using it

[2020-03-12 11:31] TomasTomecek commented on #259
Hey, thanks for taking time opening the issue and sorry for a late reply - our team is super busy past few weeks.

We'd need more info on what you're trying achieve: please post full logs for the image build and full logs on running the container.